body {
    background-image: url("../images/headline.png");
    background-repeat: no-repeat;
    width: 806px;
    margin-top: 292px;
    background-position: top center;
    background-color: #F99800;
    margin-left: auto;
    margin-right: auto;
    font-family: tahoma, sans-serif;
}


h1, h2, h3, h4 {
    margin-left: 38px;
    margin-right: 38px;
}