<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <filter>
        <filter-name>UTF-8 Request input header</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>UTF-8 Request input header</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <persistence-context-ref>
        <persistence-context-ref-name>jpa/entityManager</persistence-context-ref-name>
        <persistence-unit-name>VideoBoss-PersistenceUnit</persistence-unit-name>
    </persistence-context-ref>

</web-app>
